body {
    background-color: #a9b7da;
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.about-container {
    width: 80%;
    position: relative;
    background-color: white; 
    padding: 40px;
    margin-top: 150px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    text-align: center;
    gap: 20px;
}
#logo {
    width: 100px;
    position: absolute;
    right: 20px;
    top: 20px;
}

#logo img {
    width: 100px;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 0;
    padding-top: 60px;
    padding-bottom: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
}

#dd {
    position: relative;
    font-size: 30px;
    z-index: 2;
    color: #39397c;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
}

#menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 0;
}

#menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a9b7da;
    width: 120px;
    height: 40px;
    border-radius: 20px;
}

#menu li a {
    color: #39397c;
    text-decoration: none;
}
@media (max-width: 800px) {
    .about-container {
        width: 80%;
        padding: 20px;
    }
    #logo {
        width: 80px;
    }
    #dd {
        font-size: 25px;
        top: 10px;
        left: 10px;
    }
    #menu li {
        width: 100px;
        height: 35px;
    }

    #menu li a {
        font-size: 14px;
    }
}
